label {
	width: 70px;
	height: 40px;
	background-color: #403e3e;
	border-radius: 10px;
	position: relative;
	cursor: pointer;
	z-index: 2;
  }
  
  input:checked ~ label {
	background-color: #50d5a1;
  }
  
  label div.s {
	width: 26px;
	height: 26px;
	background-color: #fafafa;
	border-radius: 10%;
	position: absolute;
	top: 7px;
	left: 7px;
	cursor: pointer;
	transition: margin-left 0.5s;
  }
  
  input:checked ~ label div.s {
	margin-left: 30px;
  }
  
  /* label div div.d {
	width: 7px;
	height: 7px;
	background-color: #ebebeb;
	position: absolute;
	border-radius: 50%;
	transition: background-color 0.5s;
  } */
  
  label div div.d:nth-child(1) {
	left: 6px;
	top: 6px;
  }
  
  label div div.d:nth-child(2) {
	left: 16px;
	top: 6px;
  }
  
  label div div.d:nth-child(3) {
	left: 26px;
	top: 6px;
  }
  
  label div div.d:nth-child(4) {
	left: 6px;
	top: 16px;
  }
  
  label div div.d:nth-child(5) {
	left: 16px;
	top: 16px;
  }
  
  label div div.d:nth-child(6) {
	left: 26px;
	top: 16px;
  }
  
  label div div.d:nth-child(7) {
	left: 6px;
	top: 26px;
  }
  
  label div div.d:nth-child(8) {
	left: 16px;
	top: 26px;
  }
  
  label div div.d:nth-child(9) {
	left: 26px;
	top: 26px;
  }
  
  input {
	display: none;
	appearance: none;
  }
  